.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}
.main-title {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}
.product-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.filter-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  max-width: 800px; 
  margin: 0 auto;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  gap: 1rem; 
}

.filter-container select {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 1rem;
}

.filter-section {
  margin-bottom: 20px;
}
  
.category-filter {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  width: 200px;
  margin-left: 0;
}

.category-filter:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.product-list-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-list-item {
  background-color: #f3f3fb;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-list-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.product-list-info {
  flex-grow: 1;
}

.product-list-name {
  margin: 0 0 5px 0;
  color: #333;
}

.product-list-category {
  margin: 0 0 5px 0;
  color: #666;
  font-size: 0.9em;
}

.product-list-price {
  margin: 0;
  font-weight: bold;
  color: #2c3e50;
}

.product-list-stock {
  margin: 5px 0 0 0;
  font-size: 0.9em;
}

.price-sort-section {
  margin-bottom: 20px;
}

.price-sort {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  width: 200px;
}

.price-sort:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.name-sort-section {
  margin-bottom: 20px;
}

.name-sort {
  padding: 8px 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  width: 200px;
}

.name-sort:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.add-product-button {
  background-color: lightcoral;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 0;
}

.add-product-button:hover {
  background-color: palevioletred;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
  margin-bottom: 20px;
}